@import '@style/_variables.scss';
@import '@style/_mixin.scss';

.layout {
  @include respond-to('sm') {
    padding: 40px 14px 40px 14px;
    display: block;
  }
  @include respond-to('md') {
    padding: 80px 40px 87px 40px;
    display: block;
  }
  @include respond-to('lg') {
    max-width: 908px;
    margin: auto;
  }
}
.top {
  @include respond-to('sm') {
    margin-bottom: 44px;
  }
  @include respond-to('md') {
    margin: 0 auto 80px auto;
    max-width: 540px;
  }
  @include respond-to('lg') {
    max-width: fit-content;
  }
}
.middle {
  margin-bottom: 20px;
  @include respond-to('md') {
    margin: 0 auto 20px auto;
    max-width: 540px;
  }
  @include respond-to('lg') {
    width: 540px;
  }
}

.earth {
  display: flex;
  justify-content: center;
  @include respond-to('lg') {
    width: 384px;
  }
}
.middleEarth {
  @include respond-to('md') {
    display: block;
  }
  @include respond-to('sm') {
    display: block;
  }
  @include respond-to('lg') {
    display: flex;
  }
}
