.layout {
  border-radius: 8px;
  border: 1px solid var(--medium-grey, #e4e4e4);
  height: 106px;
  resize: none;
  width: calc(100% - 24px);
  padding: 8px 12px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
}
.infoTypo {
  margin-top: 8px;
  color: var(--grey, var(--grey, #4f4f4f));
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
