.explainButton {
  padding: 22px 0 !important;
  background-color: #fff !important;
  border-radius: 13px;
  justify-content: center;
  &:hover {
    background-color: #fff !important;
  }
}

.explainText {
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-weight: 800;
  line-height: 165%;
  margin-right: 10px;
}

.arcdText {
  text-align: left;
}
