@import '@style/_mixin.scss';
.outer {
  padding: 4px;
  @include respond-to('lg') {
    display: flex;
  }
}
.picture {
  @include respond-to('lg') {
    order: 1;
    width: 50%;
  }
}
.goDonate {
  position: absolute;
  z-index: 1;
  @include respond-to('sm') {
    top: 160px;
    left: 12%;
  }
  @include respond-to('md') {
    top: 321px;
    left: 18%;
  }
  @include respond-to('lg') {
    top: 236px;
    left: 47%;
  }
}

.wrapper {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: $background_light;
  @include respond-to('sm') {
    padding: 33px 16px 33px 16px;
  }
  @include respond-to('md') {
    padding: 43px 32px 88px 32px;
  }
  @include respond-to('lg') {
    padding: 0;
    width: 50%;
    height: 763px;
    align-items: center;
    justify-content: center;
  }
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-to('sm') {
    gap: 39px;
  }
  @include respond-to('md') {
    gap: 44px;
  }
  @include respond-to('lg') {
    width: 450px;
    height: 763px;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
}

.gobutton {
  display: flex;
  width: 100%;
  @include respond-to('sm') {
    flex-direction: column;
    gap: 12px;
  }
  @include respond-to('md') {
    flex-direction: row;
    justify-content: center;
    gap: 18px;
  }
  @include respond-to('lg') {
    gap: 12px;
  }
}
