@import '@style/_variables.scss';
@import '@style/_mixin.scss';
.layout {
  height: 528px;
  background: $red_light_1;
  border-radius: 20px;
  min-width: 330px;
  max-width: 532px;
  padding: 22px 16px 28px 16px;

  // modal부드러운 에니메이션을 위한
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  visibility: hidden;
  transition: transform 0.5s;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

.layout.active {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.closeCont {
  display: flex;
  justify-content: flex-end;
}
.topCont {
  width: 244px;
  margin: 12px auto 0 auto;
  @include respond-to('lg') {
    width: 279px;
  }
}

.icon {
  margin: 28px 0 0 0;
  display: flex;
  justify-content: center;
}
.botCont {
  margin: 32px auto 0 auto;
  width: 235px;
}
.buttonsCont {
  margin: 48px 0 0 0;
}
