@import '@style/_mixin.scss';
.gobutton {
  display: flex;
  width: 100%;
  @include respond-to('sm') {
    flex-direction: column;
    gap: 12px;
  }
  @include respond-to('md') {
    flex-direction: row;
    justify-content: center;
    gap: 18px;
  }
  @include respond-to('lg') {
    gap: 12px;
  }
}
