@import '@style/_mixin.scss';
@import '@style/_variables.scss';

h1 {
  font-family: Inter;
  font-weight: 600;
  text-align: center;
}

.lg {
  font-size: 32px;
  margin-bottom: 24px;
  @include respond-to('sm') {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
.md {
  font-size: 24px;
  margin-bottom: 24px;
  @include respond-to('sm') {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
