$grid-breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1440px,
);

//colors
$empty: #ffffff;
$light_empty: #fff9e2;

$primary: #ffb611;
$primary_dark: #ff940a;

$secondary: #cfff8d;
$secondary_dark: #bbf95b;
