/* First Section */
.firstSction {
  background-image: url('../assets/svg/Main_Universe.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile {
  background-size: 1000%;
  background-position: 65% 50%;
}

.ShowGazaMapTitleFontOne {
  position: relative;
  color: #fff;
  font-family: 'Paytone One', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.828%;
  z-index: 2;
}

.Two {
  color: #ffc500;
}

.Section1Header {
  padding-top: 45px;
}

.MailIcon {
  width: 43px;
  height: 43px;
}

.MessageIconInTitle {
  z-index: 1;
  position: relative;
  top: -108px;
  left: 290px;
}

.SubTitle {
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 215%;
}

.yellowFont {
  color: #ffc500;
}

.GazaMapImageBox {
  display: flex;
  justify-content: center;
}

.GazaEmpty {
  background-image: url('../assets/svg/GazaEmpty.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 221.73px;
  height: 328.717px;
  flex-shrink: 0;
}
.GazaFull {
  position: relative;
  clip-path: inset(24.8826% 0px 0px);
  transition: 3s clip-path ease-in;
  background-image: url('../assets/svg/GazaFull.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 221.73px;
  height: 328.717px;
  flex-shrink: 0;
}
.GoalTextBox {
  position: relative;
  top: -200px;
  left: 60px;
}

.GoalText {
  color: #ffc500;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 165%; /* 39.6px */
}

.GoalFixedText {
  font-size: 15px;
}

.RealGoalWrapper {
}

.RealGoalText {
  color: rgba(255, 255, 255, 0.71);
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
}

.RealGoalMoney {
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
}

.SectionOneFooter {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Second Section */
.SecondSection {
  padding: 100px 0 100px 0;
}

.SecondTopText {
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 165%;
}

.SecondExplainText {
  margin-top: 23px;
  color: #000;

  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 19.2px */
}

.SecondExplainStrong {
  font-size: 16px;
  font-weight: 700;
}

.EarthWrapper {
  background-image: url('../assets/svg/Icon_Earth.png');
  background-size: 260px 260px;
  width: 260px;
  height: 260px;
  margin: 42px auto 0 auto;
}

.Pin {
  background-image: url('../assets/svg/EarthPin.svg');
  background-size: 56px 74px;
  width: 56px;
  height: 74px;
  position: relative;
  top: 30px;
  left: 120px;
}

.PinShadow {
  background-image: url('../assets/svg/PinShadow.svg');
  background-size: 15px 5px;
  width: 15px;
  height: 5px;
  position: relative;
  top: 30px;
  left: 140px;
}
.EarthText {
  display: inline;
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 12.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 165%;
}

/* Third Section */
.ThirdSection {
  background-image: url('../assets/svg/Main_firefly.jpg');
  height: 100vh;
}

.TitleBox {
  padding-top: 56px;
}

.ThirdHeaderText {
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 165%;
}

.ThirdHeaderTextStrong {
  font-size: 16px;
}

.CommentWrapper {
  margin-top: 30px;
}

.CommentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.CommentSortButton {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
}
.SortOn {
  color: #ffc500;
  font-weight: 900;
}

.Search {
  width: 50% !important;
  border-radius: 37px;
  border: 1px solid #fff;
  color: #fff;
}

.SearchInput {
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}

.SearchIcon {
  top: -4px !important;
}

.OneCommentWrapper {
  border-radius: 13px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: 0px 2px 20.5px 0px rgba(160, 160, 160, 0.25);
  padding: 20px 22px 15px 22px;
}
.NickName {
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 165%;
}

.Date {
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
}

.OneCommentHeaderLeft {
  color: #000;
  font-family: 'NanumSquareNeo';
  font-style: normal;
}

.OneCommentHeaderRight {
  display: flex;
  gap: 7px;
  align-items: center;
}

.Report {
  color: #676767;
  font-family: 'NanumSquareNeo';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 19.8px */
  text-decoration-line: underline;
}

.OneCommentContent {
  color: #000;
  text-align: left;
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.ShowCommentWrapper {
  max-height: 72vh; /* 또는 적절한 높이 */
  overflow-y: auto;
  margin-top: 30px;
  padding: 16px;
}

/* Input Section */
.InputWrapper {
  padding-top: 61px;
  /*
  overflow: auto;
  max-height: 100vh;
  */
}
.section[data-anchor='section4'] > .fp-tableCell {
  vertical-align: top !important;
}
.InputTopMessage {
  color: #000;

  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}
.InputTopMessage2 {
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 165%; /* 33px */
}
.InputMessageWrapper {
  margin: 0 auto;
  width: 352px;
  height: 523px;
  flex-shrink: 0;
  border-radius: 46px;
  padding-top: 42px;
}
.TopMessageInbox {
  color: #fff;
  font-family: 'NanumSquareNeo';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 24.75px */
}
.SecondMessageInbox {
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 165%; /* 42.9px */
}
.ComeCheerBox {
  width: 215px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 12px;
  margin: 31px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ComeCheerText {
  color: #fff;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%; /* 21.45px */
}

.CommentInput {
  margin-top: 16px;
  width: 197px;
  height: 55px !important;
  flex-shrink: 0 !important;
  border-radius: 37px !important;
  background: #fff;
}

.CommentInputText {
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 165%; /* 26.4px */
}

.WatchAddBox {
  position: relative;
  top: -16px;
  left: 140px;
}
.WatchAddText {
  position: relative;
  top: -15px;
  color: #686868;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 14.85px */
}

/* Explain Section */
.section[data-anchor='section5'] > .fp-tableCell {
  background-color: #f5f5f5;
}
.ExplainSection {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.ExplainTitleText {
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 165%; /* 33px */
}

.ExplainWrapper {
  margin: 33px 15px 0 15px;
}

.ExplainWrapper > .chakra-accordion {
  border: none;
}
.ExplainWrapper .chakra-accordion__item {
  border: none;
  border-radius: 13px;
  background: #fff;
  margin-bottom: 10px;
}

.ExplainButton:hover {
  background-color: #fff !important;
}
.ExplainButton {
  padding: 22px 0px !important;
  background-color: #fff !important;
  border-radius: 13px;
  background: #fff;
  justify-content: center;
}
.ExplainText {
  color: #000;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 165%; /* 23.1px */
  margin-right: 10px;
}

.SNSIconBox {
  display: flex;
  gap: 10px;
  margin: 38px auto 18px auto;
}
.ExplainFooterText {
  color: #8f8f8f;
  text-align: center;
  font-family: 'NanumSquareNeo';
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 18.15px */
}
.ArcdText {
  text-align: left;
}
