.menuWrapper {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: #fff;
  transform: translateX(-100%);
  &.open {
    transform: translateX(0);
  }
}

.hamIcon {
  position: fixed;
  top: 15px;
  right: 24px;
  background: none;
}

.mobileUlWrapper {
  list-style: none;
  padding-top: 80px;
  padding-left: 30px;
}

.mobileMenuTitle {
  color: #000;
  text-align: center;
  font-size: 22px;
  margin-bottom: 45px;
}

.mobileLi {
  margin-bottom: 27px;
  cursor: pointer;
  &.on {
    background: #000;
    color: #fff;
    border-radius: 37px;
  }
}

.iconBoxMenu {
  display: flex;
  gap: 11px;
  justify-content: center;
  margin-top: 20px;
}

.iconInMenu {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
