@import '@style/_mixin.scss';
@import '@style/_variables.scss';

.topText {
  font-size: 28px;
  @include respond-to('sm') {
    font-size: 20px;
  }
}

.bottomText {
  font-size: 32px;
  @include respond-to('sm') {
    font-size: 24px;
  }
}

.messageTitleLayout {
  color: white;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
