@import '@style/_mixin.scss';
.outer {
  padding: 4px;
  @include respond-to('lg') {
    display: flex;
  }
}
.picture {
  @include respond-to('lg') {
    order: 1;
    width: 50%;
  }
}
.goDonate {
  position: absolute;
  z-index: 2;
  @include respond-to('sm') {
    top: 160px;
    left: 12%;
  }
  @include respond-to('md') {
    top: 321px;
    left: 18%;
  }
  @include respond-to('lg') {
    top: 236px;
    left: 47%;
  }
}
