@import '@style/_mixin.scss';
.gobutton {
  display: flex;
  width: 100%;
  @include respond-to('sm') {
    flex-direction: column;
  }
  @include respond-to('md') {
    flex-direction: row;
    justify-content: center;
  }
}
