@import '@style/_mixin.scss';
@import '@style/_variables.scss';

.title {
  color: var(--black, var(--black, #000));
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 160%;
  text-align: left;
  @include respond-to('sm') {
    text-align: center;
    font-size: 24px;
    line-height: normal;
  }
}

.content {
  color: var(--black, var(--black, #000));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  strong {
    font-weight: 700;
    color: var(--red, var(--red, #eb4511));
  }
  @include respond-to('sm') {
    font-size: 16px;
  }
}
